<!doctype html>
<html lang="en">

<head>
  <title>Simple Producer/Consumer Demo</title>
  <link rel="stylesheet" href="/css/styles.css">
  <script type="text/javascript" src="http://code.jquery.com/jquery-3.1.0.min.js"></script>
  <script type="text/javascript" src="/js/appData.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      plotData("{{ api_url }}");
      document.getElementById('manage-containers').src = "http://" + window.location.hostname + ":8080/service/marathon/ui/#/group/%2Fmicroscaling";
    });
  </script>
      <style type="text/css">
      #wrap {
        display: flex;
      }
      #left-col {
        width: 320px;
      }
      #right-col {
        flex: 1;
      }
      #manage-containers {
        height: 800px;
        width: 100%;
      }
      </style>
</head>

<body>
  <title>ACS Logging Demo</title>

  <div id="wrap">
    <div id="left-col">
      <h2><span class="heading">Queue Length:</span>
        <div id="queue_length" class="heading wrapper">Retrieving...</div>
      </h2>
      <h2><span class="heading">Last Alerts:</span><br/>
        <div id="last_alerts" class="wrapper"><span class="heading">Retrieving...</span></div>
      </h2>
    </div>
    <div id="right-col">
      <iframe id="manage-containers"></iframe>
    </div>
  </div>
</body>

</html>